/* DESKTOP */
/* Over 1600px Screen */
@media (min-width: 100.1em) {
  html {
    /* 15px per rem */
    font-size: 93.75%;
  }
}
/* 1600px Screen and below */
@media (max-width: 100em) {
  html {
    /* 13px per rem */
    font-size: 81.25%;
  }
}
/* 1500px Screen and below */
@media (max-width: 93.75em) {
  html {
    /* 12px per rem */
    font-size: 75%;
  }
}
/* 1400px and below */
@media (max-width: 87.5em) {
  html {
    /* 11px per rem */
    font-size: 68.75%;
  }
}
/* 1300px and below */
@media (max-width: 81.25em) {
  html {
    /* 10px per rem */
    font-size: 62.5%;
  }
}
/* 1100px and below */
@media (max-width: 68.75em) {
  html {
    /* 9px per rem */
    font-size: 56.25%;
  }
}
/* 900px and below */
/* Tablet */
@media (max-width: 56.25em) {
  .hero__text-container {
    align-items: center;
  }
  .hero__lead--text {
    text-align: center;
  }

  .about__section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .about__content {
    flex-direction: column-reverse;
  }

  .about__content--header {
    text-align: center;
  }

  .about__content--bio {
    text-align: center;
  }

  .tech__stack {
    width: 100%;
    justify-content: center;
  }

  .about__content--button {
    align-self: center;
    margin-bottom: 2rem;
  }

  .project__container {
    flex-direction: column;
  }

  .cta__section {
    -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  }

  .cta__contact--link,
  .cta__form {
    width: 50rem;
  }
}

/* 700px and below */
@media (max-width: 43.75em) {
  html {
    font-size: 50%;
  }

  .hero__lead--text {
    font-size: 5rem;
  }

  .about__section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }

  .cta__section {
    -webkit-clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
  }
}

/* 500px and below */
@media (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
  .cta__contact--link,
  .cta__form {
    width: 100%;
  }
}

/* Phone */
/* 400px and below */
@media (max-width: 25em) {
  .hero__lead--text {
    font-size: 3.5rem;
  }

  .about__content--bio,
  .tech__stack--skill,
  .cta__contact--link {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .tech__stack--skill i {
    font-size: 2rem;
  }

  .project__description {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .cta_button {
    font-size: 1.8rem;
  }

  .cta__contact--link,
  .cta__form {
    width: 100%;
  }
}
